{% extends 'base.html'%} {%import 'macros.html' as macro%}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Welcome to News Desk</h1>
        <p style="color: aqua;"><em>Click on our links for images and source site links</em></p>
        <h2>Sources per category:</h2>

        <div class="story">
            <div class="row">
                <h3> General News</h3>
                {{ macro.displaySourceList(general)}}
            </div>
            <div class="row">
                <h3> Business News</h3>
                {{ macro.displaySourceList(business)}}
            </div>
            <div class="row">
                <h3> Technology News</h3>
                {{ macro.displaySourceList(technology)}}
            </div>
            <div class="row">
                <h3> Health News</h3>
                {{ macro.displaySourceList(health)}}
            </div>
        </div>
    </div>
{% endblock %}  